.showFlex{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #0D0D0D;
    border-top: 1px solid #868686;
    margin: 10px auto 50px auto;
    width: 85%;
}
.showFlexEnd{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #0D0D0D;
    border-top: 1px solid #868686;
    border-bottom: 1px solid #868686;
    margin: 50px auto;
    width: 85%;
    padding:  0  0 50px 0;
}
.showFlexText{
    color:white;
    padding-top: 15px;
}
.showFlexText1 {
    color:white;
    padding-top: 15px;
  
 
}
.hover-box{
    position: relative;
    width: 25% ;
}

.showingPic{
    position: absolute;
    left: 0;
    transform: scale(0,0) translate(-100% , 0%) ;
    transform-origin: left top ;
    z-index: 998;
    max-width: 200px;
}
.showFlexText1:hover + .showingPic {
    z-index: 999;
    transform: scale(1,1) translate(-100% , 0% ) ;
    transition: all 1s ease-in;
}
@media only screen and (max-width:  1280px) {
    .hover-box{
        width: 35% ;
    }
} 
@media only screen and (max-width:  1200px) {
   .showFlex{
       margin: 30px auto;
   }
} 
@media screen and (min-width:  550px ) and (max-width: 800px) {
      .showingPic{
          width: 150px;
      }
 } 


@media only screen and (max-width:  670px) {
    .showFlex{
        margin: 10px auto;
    }
 } 
 @media only screen and (max-width:  650px) {
    .hover-box{
        width: 45% ;
    }
    .showingPic{
        width: 100px;
    }
}
@media only screen and (max-width:  550px) {
    .showingPic{
        width: 50px;
    }
 } 
@media only screen and (max-width:  440px) {
   .showFlexEnd{
       margin: 20px auto;
   }
    
}  