* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background:  black;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(49, 49, 48);  /* creates padding around scroll thumb */
  }